

.count-div {
    font-size: large;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}

.buttons-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

span{
    width: 100%;
    align-content: center;
}